In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Definition of Well_0 depth of interest

In [2]:
from pathlib import Path
data_folder = Path("/Users/djnav/OneDrive/Documentos/GitHub/SPWLA_2021_Geolatinas/dataset/separated_wells/train")
well_0_file = data_folder / "well_0.csv"
well_0 = pd.read_csv(well_0_file, index_col=0)
well_0_PHIF = well_0.loc[well_0.PHIF.notnull()]
well_0_SW = well_0.loc[well_0.SW.notnull()]
well_0_VSH = well_0.loc[well_0.VSH.notnull()]
depth_comparison_0 = pd.DataFrame({'PHIF':[well_0_PHIF.DEPTH.max(),well_0_PHIF.DEPTH.min()],'SW':[well_0_SW.DEPTH.max(),well_0_SW.DEPTH.min()],'VSH':[well_0_VSH.DEPTH.max(),well_0_VSH.DEPTH.min()]}, index=['BOTTOM', 'TOP'])
depth_comparison_0

                PHIF            SW           VSH
BOTTOM  15151.160105  15151.160105  15063.660105
TOP     11709.160105  11709.160105  14121.660105

In [3]:
well_0.describe()

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
count,29754.0,29754.000000,7007.000000,0.0,0.0,7007.000000,7084.000000,0.0,28117.000000,7096.000000,0.0,12223.000000,12223.000000,0.0,6885.000000,6885.000000,1880.000000
mean,0.0,7773.410105,79.498714,NaN,NaN,9.611068,2.449055,NaN,71.986798,0.201172,NaN,2.438382,2.386781,NaN,0.111775,0.957631,0.386786
std,0.0,4294.692146,18.390705,NaN,NaN,1.019751,0.165122,NaN,32.922780,0.147295,NaN,6.631202,5.735731,NaN,0.098538,0.131980,0.305142
min,0.0,335.160105,1.025100,NaN,NaN,6.000000,1.943000,NaN,2.766100,0.021783,NaN,0.250300,0.179000,NaN,0.000000,0.075468,-0.248000
25%,0.0,4054.285105,66.154350,NaN,NaN,9.142900,2.319975,NaN,50.255200,0.106314,NaN,0.988000,0.847850,NaN,0.020492,0.999224,0.244369
50%,0.0,7773.410105,74.661900,NaN,NaN,9.589400,2.505600,NaN,74.998500,0.157185,NaN,1.536100,1.490800,NaN,0.093803,1.000000,0.339936
75%,0.0,11492.535105,93.304550,NaN,NaN,9.904800,2.585125,NaN,92.343800,0.250674,NaN,2.434050,2.415400,NaN,0.191992,1.000000,0.454783
max,0.0,15211.660105,181.813900,NaN,NaN,20.330400,3.001300,NaN,304.333700,1.463474,NaN,198.537100,168.604400,NaN,0.346079,1.000000,2.460104

In [4]:
well_0.shape

(29754, 17)

In [5]:
#Searching for the index location of the top depth of interest
well_0.DEPTH.iloc[22748]

11709.1601049869

In [6]:
#Final dataframe to use for training
final_well_0 = well_0[22748:29754]
final_well_0

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
22748,0,11709.160105,132.2417,NaN,NaN,12.9852,2.2937,NaN,62.7379,0.420963,NaN,1.1841,0.7821,NaN,0.184759,1.0,NaN
22749,0,11709.660105,123.9160,NaN,NaN,12.6257,2.3030,NaN,53.8436,0.742682,NaN,0.8829,1.0759,NaN,0.180910,1.0,NaN
22750,0,11710.160105,115.0600,NaN,NaN,12.7729,2.2769,NaN,52.8516,0.459793,NaN,0.9517,0.9199,NaN,0.172497,1.0,NaN
22751,0,11710.660105,121.8756,NaN,NaN,11.7686,2.2808,NaN,58.2263,0.499141,NaN,0.8684,1.2420,NaN,0.161982,1.0,NaN
22752,0,11711.160105,125.3476,NaN,NaN,11.6190,2.3272,NaN,57.3380,0.600855,NaN,0.8296,0.9622,NaN,0.149478,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29749,0,15209.660105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7729,0.5978,NaN,NaN,NaN,NaN
29750,0,15210.160105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8369,0.6257,NaN,NaN,NaN,NaN
29751,0,15210.660105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8741,0.6888,NaN,NaN,NaN,NaN
29752,0,15211.160105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9002,0.8902,NaN,NaN,NaN,NaN
29753,0,15211.660105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9133,1.0363,NaN,NaN,NaN,NaN

In [8]:
#save as CSV file
final_well_0.to_csv('well0_depth.csv')

Definition of Well_1 depth of interest

In [9]:
from pathlib import Path
data_folder = Path("/Users/djnav/OneDrive/Documentos/GitHub/SPWLA_2021_Geolatinas/dataset/separated_wells/train")
well_1_file = data_folder / "well_1.csv"
well_1 = pd.read_csv(well_1_file, index_col=0)
well_1_PHIF = well_1.loc[well_1.PHIF.notnull()]
well_1_SW = well_1.loc[well_1.SW.notnull()]
well_1_VSH = well_1.loc[well_1.VSH.notnull()]
depth_comparison_1 = pd.DataFrame({'PHIF':[well_1_PHIF.DEPTH.max(),well_1_PHIF.DEPTH.min()],'SW':[well_1_SW.DEPTH.max(),well_1_SW.DEPTH.min()],'VSH':[well_1_VSH.DEPTH.max(),well_1_VSH.DEPTH.min()]}, index=['BOTTOM', 'TOP'])
depth_comparison_1

            PHIF        SW       VSH
BOTTOM  11833.33  11833.33  11890.75
TOP     10891.40  10891.40  10731.63

In [10]:
well_1.shape

(34361, 17)

In [11]:
#Searching for the index location of the top depth of interest
well_1.DEPTH.iloc[30741]
well_1.DEPTH.iloc[34274]

11891.08

In [12]:
#Final dataframe to use for training
final_well_1 = well_1[30741:34275]
final_well_1

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
60495,1,10731.96,116.483,NaN,8.5,8.6484,2.3987,0.0607,239.335,0.4191,7.4345,1.7827,1.7924,17.6987,NaN,NaN,0.9546
60496,1,10732.28,116.710,NaN,8.5,8.6250,2.3503,0.0552,252.672,0.4503,7.4329,1.9700,2.2908,17.7397,NaN,NaN,1.0114
60497,1,10732.61,117.059,NaN,8.5,8.6719,2.3128,0.0473,260.715,0.4707,7.4591,2.0258,2.4274,17.7214,NaN,NaN,1.0456
60498,1,10732.94,117.566,NaN,8.5,8.6719,2.2898,0.0392,273.175,0.4821,7.5256,1.9579,2.1418,17.7032,NaN,NaN,1.0986
60499,1,10733.27,117.664,NaN,8.5,8.6719,2.2802,0.0337,277.188,0.4853,7.5959,1.8564,1.8732,17.6849,NaN,NaN,1.1157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64024,1,11889.76,NaN,NaN,8.5,NaN,NaN,NaN,113.803,NaN,NaN,NaN,NaN,15.0105,NaN,NaN,0.8234
64025,1,11890.09,NaN,NaN,8.5,NaN,NaN,NaN,116.742,NaN,NaN,NaN,NaN,15.0183,NaN,NaN,0.8478
64026,1,11890.42,NaN,NaN,8.5,NaN,NaN,NaN,119.225,NaN,NaN,NaN,NaN,15.0260,NaN,NaN,0.8685
64027,1,11890.75,NaN,NaN,8.5,NaN,NaN,NaN,118.567,NaN,NaN,NaN,NaN,15.0338,NaN,NaN,0.8631
64028,1,11891.08,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0297,NaN,NaN,NaN

In [13]:
#save as CSV file
final_well_1.to_csv('well1_depth.csv')

Definition of Well_2 depth of interest

In [14]:
from pathlib import Path
data_folder = Path("/Users/djnav/OneDrive/Documentos/GitHub/SPWLA_2021_Geolatinas/dataset/separated_wells/train")
well_2_file = data_folder / "well_2.csv"
well_2 = pd.read_csv(well_2_file, index_col=0)
well_2_PHIF = well_2.loc[well_2.PHIF.notnull()]
well_2_SW = well_2.loc[well_2.SW.notnull()]
well_2_VSH = well_2.loc[well_2.VSH.notnull()]
depth_comparison_2 = pd.DataFrame({'PHIF':[well_2_PHIF.DEPTH.max(),well_2_PHIF.DEPTH.min()],'SW':[well_2_SW.DEPTH.max(),well_2_SW.DEPTH.min()],'VSH':[well_2_VSH.DEPTH.max(),well_2_VSH.DEPTH.min()]}, index=['BOTTOM', 'TOP'])
depth_comparison_2

            PHIF        SW       VSH
BOTTOM  11999.34  11999.34  12055.45
TOP     11251.31  11251.31  11017.06

In [15]:
well_2.shape

(34871, 17)

In [16]:
#Searching for the index location of the top depth of interest
well_2.DEPTH.iloc[31610]
well_2.DEPTH.iloc[34775]

12055.45

In [17]:
#Final dataframe to use for training
final_well_2 = well_2[31610:34776]
final_well_2

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
95725,2,11017.06,86.5686,164.5779,8.5,8.625,2.5211,0.0622,98.3904,0.4219,0.0622,1.8580,1.8129,26.8100,NaN,NaN,0.4680
95726,2,11017.39,87.6276,167.2160,8.5,8.625,2.4773,0.0644,101.4950,0.4566,0.0644,1.8608,1.8223,26.8032,NaN,NaN,0.4843
95727,2,11017.72,89.2960,170.2162,8.5,8.625,2.4273,0.0638,107.0750,0.4841,0.0638,1.8617,1.8293,26.7965,NaN,NaN,0.5135
95728,2,11018.04,90.9643,173.2165,8.5,8.625,2.3776,0.0599,120.3890,0.5056,0.0599,1.8854,1.8929,26.8998,NaN,NaN,0.5832
95729,2,11018.37,92.6899,176.1973,8.5,8.625,2.3316,0.0530,137.5700,0.5209,0.0530,1.8930,1.9049,27.0031,NaN,NaN,0.6731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98886,2,12054.13,NaN,NaN,8.5,NaN,NaN,NaN,116.5990,NaN,NaN,NaN,NaN,10.7248,NaN,NaN,0.8540
98887,2,12054.46,NaN,NaN,8.5,NaN,NaN,NaN,116.8940,NaN,NaN,NaN,NaN,10.7252,NaN,NaN,0.8563
98888,2,12054.79,NaN,NaN,8.5,NaN,NaN,NaN,113.8870,NaN,NaN,NaN,NaN,10.7256,NaN,NaN,0.8324
98889,2,12055.12,NaN,NaN,8.5,NaN,NaN,NaN,110.8800,NaN,NaN,NaN,NaN,10.7259,NaN,NaN,0.8086
98890,2,12055.45,NaN,NaN,8.5,NaN,NaN,NaN,107.8730,NaN,NaN,NaN,NaN,10.7185,NaN,NaN,0.7847

In [19]:
#save as CSV file
final_well_2.to_csv('well2_depth.csv')

Definition of Well_3 depth of interest

In [20]:
from pathlib import Path
data_folder = Path("/Users/djnav/OneDrive/Documentos/GitHub/SPWLA_2021_Geolatinas/dataset/separated_wells/train")
well_3_file = data_folder / "well_3.csv"
well_3 = pd.read_csv(well_3_file, index_col=0)
well_3_PHIF = well_3.loc[well_3.PHIF.notnull()]
well_3_SW = well_3.loc[well_3.SW.notnull()]
well_3_VSH = well_3.loc[well_3.VSH.notnull()]
depth_comparison_3 = pd.DataFrame({'PHIF':[well_3_PHIF.DEPTH.max(),well_3_PHIF.DEPTH.min()],'SW':[well_3_SW.DEPTH.max(),well_3_SW.DEPTH.min()],'VSH':[well_3_VSH.DEPTH.max(),well_3_VSH.DEPTH.min()]}, index=['BOTTOM', 'TOP'])
depth_comparison_3

            PHIF        SW       VSH
BOTTOM  11285.43  11285.43  11342.52
TOP     10595.14  10595.14  10511.81

In [21]:
well_3.shape

(32691, 17)

In [22]:
#Searching for the index location of the top depth of interest
well_3.DEPTH.iloc[30070]
well_3.DEPTH.iloc[32602]

11342.52

In [23]:
#Final dataframe to use for training
final_well_3 = well_3[30070:32603]
final_well_3

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
129056,3,10511.81,97.3630,NaN,8.5,8.6637,2.4668,0.0401,133.1730,0.3168,5.8408,1.5349,1.4633,25.6686,NaN,NaN,1.0000
129057,3,10512.14,96.8333,180.3605,8.5,8.6468,2.4704,0.0375,128.9920,0.3020,5.8189,1.5335,1.4766,25.9583,NaN,NaN,0.9919
129058,3,10512.47,96.2449,180.0257,8.5,8.6383,2.4793,0.0365,128.1910,0.2965,5.7534,1.5266,1.4689,26.2480,NaN,NaN,0.9855
129059,3,10512.79,95.8081,180.1175,8.5,8.5791,2.4897,0.0361,129.1230,0.2984,5.6114,1.5168,1.4565,26.5378,NaN,NaN,0.9930
129060,3,10513.12,95.4895,180.3516,8.5,8.5791,2.4979,0.0355,128.4800,0.3011,5.4444,1.5178,1.4556,26.8574,NaN,NaN,0.9878
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131584,3,11341.21,NaN,NaN,8.5,NaN,NaN,NaN,47.4689,NaN,NaN,NaN,NaN,30.0092,NaN,NaN,0.2929
131585,3,11341.54,NaN,NaN,8.5,NaN,NaN,NaN,50.4761,NaN,NaN,NaN,NaN,29.9931,NaN,NaN,0.3136
131586,3,11341.86,NaN,NaN,8.5,NaN,NaN,NaN,53.9426,NaN,NaN,NaN,NaN,30.0038,NaN,NaN,0.3375
131587,3,11342.19,NaN,NaN,8.5,NaN,NaN,NaN,53.3602,NaN,NaN,NaN,NaN,30.0146,NaN,NaN,0.3335
131588,3,11342.52,NaN,NaN,8.5,NaN,NaN,NaN,52.7125,NaN,NaN,NaN,NaN,30.0253,NaN,NaN,0.3291

In [24]:
#save as CSV file
final_well_3.to_csv('well3_depth.csv')

Definition of Well_4 depth of interest

In [25]:
from pathlib import Path
data_folder = Path("/Users/djnav/OneDrive/Documentos/GitHub/SPWLA_2021_Geolatinas/dataset/separated_wells/train")
well_4_file = data_folder / "well_4.csv"
well_4 = pd.read_csv(well_4_file, index_col=0)
well_4_PHIF = well_4.loc[well_4.PHIF.notnull()]
well_4_SW = well_4.loc[well_4.SW.notnull()]
well_4_VSH = well_4.loc[well_4.VSH.notnull()]
depth_comparison_4 = pd.DataFrame({'PHIF':[well_4_PHIF.DEPTH.max(),well_4_PHIF.DEPTH.min()],'SW':[well_4_SW.DEPTH.max(),well_4_SW.DEPTH.min()],'VSH':[well_4_VSH.DEPTH.max(),well_4_VSH.DEPTH.min()]}, index=['BOTTOM', 'TOP'])
depth_comparison_4

            PHIF        SW       VSH
BOTTOM  13344.49  13344.49  13421.26
TOP     10574.15  10574.15  10574.15

In [26]:
well_4.shape

(38971, 17)

In [27]:
#Searching for the index location of the top depth of interest
well_4.DEPTH.iloc[30260]
well_4.DEPTH.iloc[38938]

13421.26

In [28]:
#Final dataframe to use for training
final_well_4 = well_4[30260:38939]
final_well_4

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
161937,4,10574.15,NaN,NaN,8.5,8.5243,2.5113,0.0492,105.9000,0.2888,7.0513,1.6795,1.7327,22.4778,0.0896,1.0,0.8752
161938,4,10574.47,NaN,NaN,8.5,8.5243,2.4992,0.0479,100.3700,0.2908,7.0171,1.6748,1.7433,22.1040,0.0969,1.0,0.8263
161939,4,10574.80,NaN,NaN,8.5,8.5243,2.4885,0.0447,95.9118,0.2928,6.9924,1.6715,1.7479,21.7302,0.1033,1.0,0.7868
161940,4,10575.13,NaN,NaN,8.5,8.5243,2.4836,0.0424,97.0329,0.2942,6.9774,1.6647,1.7344,21.4512,0.1063,1.0,0.7968
161941,4,10575.46,NaN,NaN,8.5,8.5406,2.4835,0.0418,94.3718,0.2949,6.9521,1.6487,1.7152,21.1722,0.1063,1.0,0.7732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170611,4,13419.95,NaN,NaN,8.5,NaN,NaN,NaN,120.3140,NaN,NaN,NaN,NaN,29.9197,NaN,NaN,1.0000
170612,4,13420.28,NaN,NaN,8.5,NaN,NaN,NaN,117.1470,NaN,NaN,NaN,NaN,29.9273,NaN,NaN,0.9748
170613,4,13420.60,NaN,NaN,8.5,NaN,NaN,NaN,116.5630,NaN,NaN,NaN,NaN,29.9291,NaN,NaN,0.9696
170614,4,13420.93,NaN,NaN,8.5,NaN,NaN,NaN,117.6910,NaN,NaN,NaN,NaN,29.9309,NaN,NaN,0.9796
170615,4,13421.26,NaN,NaN,8.5,NaN,NaN,NaN,119.5750,NaN,NaN,NaN,NaN,29.9327,NaN,NaN,0.9962

In [29]:
#save as CSV file
final_well_4.to_csv('well4_depth.csv')

Definition of Well_5 depth of interest

In [30]:
from pathlib import Path
data_folder = Path("/Users/djnav/OneDrive/Documentos/GitHub/SPWLA_2021_Geolatinas/dataset/separated_wells/train")
well_5_file = data_folder / "well_5.csv"
well_5 = pd.read_csv(well_5_file, index_col=0)
well_5_PHIF = well_5.loc[well_5.PHIF.notnull()]
well_5_SW = well_5.loc[well_5.SW.notnull()]
well_5_VSH = well_5.loc[well_5.VSH.notnull()]
depth_comparison_5 = pd.DataFrame({'PHIF':[well_5_PHIF.DEPTH.max(),well_5_PHIF.DEPTH.min()],'SW':[well_5_SW.DEPTH.max(),well_5_SW.DEPTH.min()],'VSH':[well_5_VSH.DEPTH.max(),well_5_VSH.DEPTH.min()]}, index=['BOTTOM', 'TOP'])
depth_comparison_5

            PHIF        SW       VSH
BOTTOM  12259.51  12259.51  12307.74
TOP     11729.00  11729.00  11729.00

In [31]:
well_5.shape

(35790, 17)

In [32]:
#Searching for the index location of the top depth of interest
well_5.DEPTH.iloc[33917]
well_5.DEPTH.iloc[35681]

12307.74

In [33]:
#Final dataframe to use for training
final_well_5 = well_5[33917:35682]
final_well_5

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
204565,5,11729.00,88.0416,164.4883,8.5,8.6484,2.5151,0.0692,94.3059,0.2515,6.8231,1.7777,1.9596,19.9480,0.087,1.0,0.773
204566,5,11729.33,87.9413,163.4838,8.5,8.6484,2.5143,0.0699,90.8153,0.2540,6.8099,1.7734,1.9145,19.9486,0.088,1.0,0.742
204567,5,11729.66,87.7235,162.3372,8.5,8.6719,2.5105,0.0670,90.6820,0.2526,6.8252,1.6996,1.7746,19.8968,0.090,1.0,0.740
204568,5,11729.99,87.3798,161.0310,8.5,8.6719,2.5070,0.0625,92.6109,0.2483,6.8410,1.6541,1.7661,19.8450,0.092,1.0,0.758
204569,5,11730.32,87.7178,159.8620,8.5,8.6719,2.5066,0.0587,94.9269,0.2434,6.8573,1.6404,1.7498,19.7932,0.092,1.0,0.778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206325,5,12306.43,NaN,NaN,8.5,NaN,NaN,NaN,63.5981,NaN,NaN,1.0009,1.0771,19.7003,NaN,NaN,0.577
206326,5,12306.76,NaN,NaN,8.5,NaN,NaN,NaN,62.1595,NaN,NaN,0.9203,0.8990,19.7121,NaN,NaN,0.563
206327,5,12307.09,NaN,NaN,8.5,NaN,NaN,NaN,62.4834,NaN,NaN,0.8679,0.8140,19.7238,NaN,NaN,0.566
206328,5,12307.42,NaN,NaN,8.5,NaN,NaN,NaN,65.2521,NaN,NaN,0.8351,0.7897,19.7193,NaN,NaN,0.594
206329,5,12307.74,NaN,NaN,8.5,NaN,NaN,NaN,68.1236,NaN,NaN,0.7995,0.7575,19.7148,NaN,NaN,0.624

In [34]:
#save as CSV file
final_well_5.to_csv('well5_depth.csv')

Definition of Well_6 depth of interest

In [35]:
from pathlib import Path
data_folder = Path("/Users/djnav/OneDrive/Documentos/GitHub/SPWLA_2021_Geolatinas/dataset/separated_wells/train")
well_6_file = data_folder / "well_6.csv"
well_6 = pd.read_csv(well_6_file, index_col=0)
well_6_PHIF = well_6.loc[well_6.PHIF.notnull()]
well_6_SW = well_6.loc[well_6.SW.notnull()]
well_6_VSH = well_6.loc[well_6.VSH.notnull()]
depth_comparison_6 = pd.DataFrame({'PHIF':[well_6_PHIF.DEPTH.max(),well_6_PHIF.DEPTH.min()],'SW':[well_6_SW.DEPTH.max(),well_6_SW.DEPTH.min()],'VSH':[well_6_VSH.DEPTH.max(),well_6_VSH.DEPTH.min()]}, index=['BOTTOM', 'TOP'])
depth_comparison_6

            PHIF        SW       VSH
BOTTOM  15566.93  15566.93  15614.17
TOP     10996.06  10996.06  10996.06

In [36]:
well_6.shape

(45874, 17)

In [37]:
#Searching for the index location of the top depth of interest
well_6.DEPTH.iloc[31683]
well_6.DEPTH.iloc[45759]

15614.17

In [38]:
#Final dataframe to use for training
final_well_6 = well_5[31683:45760]
final_well_6

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
202331,5,10996.06,69.9717,122.5235,8.5,8.6250,2.5897,0.0648,20.3607,0.0975,7.9523,3.7223,4.4412,30.9611,NaN,NaN,NaN
202332,5,10996.39,70.0284,122.5559,8.5,8.6250,2.5902,0.0661,19.9043,0.0971,7.9730,3.6974,4.3788,30.4452,NaN,NaN,NaN
202333,5,10996.72,70.0916,122.4423,8.5,8.6250,2.5919,0.0672,19.6879,0.0995,7.9541,3.6987,4.3585,29.9294,NaN,NaN,NaN
202334,5,10997.05,70.1604,122.2922,8.5,8.5781,2.5933,0.0671,20.0920,0.0990,7.8993,3.7112,4.3775,29.4135,NaN,NaN,NaN
202335,5,10997.38,70.2435,122.3603,8.5,8.5781,2.5942,0.0664,20.5962,0.0989,7.8252,3.6946,4.3487,27.6057,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206433,5,12341.86,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.7570,NaN,NaN,NaN
206434,5,12342.19,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.7503,NaN,NaN,NaN
206435,5,12342.52,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.7437,NaN,NaN,NaN
206436,5,12342.85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206437,5,12343.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#save as CSV file
final_well_6.to_csv('well6_depth.csv')

Definition of Well_7 depth of interest

In [40]:
from pathlib import Path
data_folder = Path("/Users/djnav/OneDrive/Documentos/GitHub/SPWLA_2021_Geolatinas/dataset/separated_wells/train")
well_7_file = data_folder / "well_7.csv"
well_7 = pd.read_csv(well_7_file, index_col=0)
well_7_PHIF = well_7.loc[well_7.PHIF.notnull()]
well_7_SW = well_7.loc[well_7.SW.notnull()]
well_7_VSH = well_7.loc[well_7.VSH.notnull()]
depth_comparison_7 = pd.DataFrame({'PHIF':[well_7_PHIF.DEPTH.max(),well_7_PHIF.DEPTH.min()],'SW':[well_7_SW.DEPTH.max(),well_7_SW.DEPTH.min()],'VSH':[well_7_VSH.DEPTH.max(),well_7_VSH.DEPTH.min()]}, index=['BOTTOM', 'TOP'])
depth_comparison_7

            PHIF        SW       VSH
BOTTOM  14882.87  14882.87  14931.10
TOP     14221.46  14221.46  14221.46

In [41]:
well_7.shape

(43786, 17)

In [42]:
#Searching for the index location of the top depth of interest
well_7.DEPTH.iloc[41514]
well_7.DEPTH.iloc[43677]

14931.1

In [43]:
#Final dataframe to use for training
final_well_7 = well_7[41514:43678]
final_well_7

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
293826,7,14221.46,85.6265,141.2509,8.5,8.7031,2.4617,0.0470,101.9590,0.2292,6.8435,2.2279,2.4222,10.3573,0.119,1.0,0.844
293827,7,14221.79,84.7197,141.3882,8.5,8.7031,2.4797,0.0496,98.4098,0.2188,6.8170,2.1386,2.2039,10.1477,0.109,1.0,0.814
293828,7,14222.11,83.7354,141.1619,8.5,8.7031,2.4973,0.0541,96.7457,0.2141,6.7921,2.0927,2.0889,9.9381,0.098,1.0,0.800
293829,7,14222.44,82.6788,140.3676,8.5,8.7031,2.5097,0.0575,96.1325,0.2138,6.7791,2.1241,2.1938,9.7285,0.091,1.0,0.794
293830,7,14222.77,81.4570,139.5091,8.5,8.6875,2.5140,0.0570,95.0044,0.2160,6.8001,2.1276,2.2615,10.0035,0.088,1.0,0.785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295985,7,14929.79,NaN,NaN,8.5,NaN,NaN,NaN,68.6706,NaN,NaN,1.1392,1.2321,14.9776,NaN,NaN,0.640
295986,7,14930.12,NaN,NaN,8.5,NaN,NaN,NaN,68.3980,NaN,NaN,1.1047,1.1532,14.9864,NaN,NaN,0.638
295987,7,14930.45,NaN,NaN,8.5,NaN,NaN,NaN,69.4330,NaN,NaN,1.0952,1.1371,14.9775,NaN,NaN,0.648
295988,7,14930.77,NaN,NaN,8.5,NaN,NaN,NaN,70.0549,NaN,NaN,1.0868,1.1221,14.9685,NaN,NaN,0.654
295989,7,14931.10,NaN,NaN,8.5,NaN,NaN,NaN,69.4204,NaN,NaN,1.0813,1.1133,14.9595,NaN,NaN,0.648

In [44]:
#save as CSV file
final_well_7.to_csv('well7_depth.csv')

Definition of Well_8 depth of interest

In [45]:
from pathlib import Path
data_folder = Path("/Users/djnav/OneDrive/Documentos/GitHub/SPWLA_2021_Geolatinas/dataset/separated_wells/train")
well_8_file = data_folder / "well_8.csv"
well_8 = pd.read_csv(well_8_file, index_col=0)
well_8_PHIF = well_8.loc[well_8.PHIF.notnull()]
well_8_SW = well_8.loc[well_8.SW.notnull()]
well_8_VSH = well_8.loc[well_8.VSH.notnull()]
depth_comparison_8 = pd.DataFrame({'PHIF':[well_8_PHIF.DEPTH.max(),well_8_PHIF.DEPTH.min()],'SW':[well_8_SW.DEPTH.max(),well_8_SW.DEPTH.min()],'VSH':[well_8_VSH.DEPTH.max(),well_8_VSH.DEPTH.min()]}, index=['BOTTOM', 'TOP'])
depth_comparison_8

           PHIF       SW      VSH
BOTTOM  12144.5  12144.5  12144.5
TOP      8494.0   8494.0   8494.0

In [46]:
well_8.shape

(22869, 17)

In [47]:
#Searching for the index location of the top depth of interest
well_8.DEPTH.iloc[15567]
well_8.DEPTH.iloc[22868]

12144.5

In [48]:
#Final dataframe to use for training
final_well_8 = well_8[15567:22869]
final_well_8

,WELLNUM,DEPTH,DTC,DTS,BS,CALI,DEN,DENC,GR,NEU,PEF,RDEP,RMED,ROP,PHIF,SW,VSH
311665,8,8494.0,102.15210,NaN,8.5,8.541965,2.344262,-0.006097,115.97960,0.454045,4.14661,0.655744,0.614919,18.22720,0.190204,1.0,0.9136
311666,8,8494.5,102.15210,NaN,8.5,8.548750,2.335518,-0.002959,115.07150,0.445658,4.05098,0.662278,0.615956,18.25760,0.195471,1.0,0.9048
311667,8,8495.0,102.22860,NaN,8.5,8.568393,2.328541,0.008008,115.78940,0.409966,4.09999,0.650393,0.601167,18.28800,0.199674,1.0,0.9117
311668,8,8495.5,102.32890,NaN,8.5,8.590535,2.324563,0.011561,112.20090,0.463488,4.31363,0.572249,0.548833,18.31860,0.202071,1.0,0.8773
311669,8,8496.0,101.93990,NaN,8.5,8.572679,2.330708,0.010597,108.64390,0.470874,4.51700,0.552979,0.520933,18.34920,0.198369,1.0,0.8431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318962,8,12142.5,64.57612,NaN,8.5,8.550179,2.613020,0.026474,32.91600,0.109335,5.20765,4.081079,3.646631,10.43060,0.028313,1.0,0.2736
318963,8,12143.0,66.20669,NaN,8.5,8.520521,2.614332,0.024994,28.76523,0.099368,5.23046,4.120065,3.936356,9.47309,0.027530,1.0,0.2344
318964,8,12143.5,67.43187,NaN,8.5,8.521563,2.620479,0.027400,25.70403,0.097774,5.33586,4.662224,4.245169,8.96010,0.023795,1.0,0.2054
318965,8,12144.0,66.56465,NaN,8.5,8.522397,2.623435,0.027175,22.94222,0.089295,5.34635,4.810604,4.372118,8.80637,0.022048,1.0,0.1793
318966,8,12144.5,66.92158,NaN,8.5,8.513542,2.617516,0.027610,22.30438,0.091876,5.46355,4.844858,4.481858,8.37668,0.025602,1.0,0.1733

In [49]:
#save as CSV file
final_well_8.to_csv('well8_depth.csv')